@model List<Event>

@{
    ViewBag.Title = "Events";
}

<div class="fancyClearBoth text-center">
    <img src="@Url.Content("~/img/north_and_sout_fighting.png")" class="">

    <p>
        Hello everyone,
    </p>

    <p>
        TODO
    </p>

</div>