@{
    ViewBag.Title = "Bolivar Heights Camp Maps";
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<div id="briefMapsContainer">

    @* TODO *@

</div>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#navMaps").addClass('active');
            $("#navMapBolivarHeightsCamp").addClass('active');
        })
    </script>
}
