@model dynamic

@{
    ViewData["Title"] = "Company";
}

@section navigation {
    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <div style="margin: 0px; padding: 0px;">
            <ul style="margin: 0px; padding: 0px; height: 70px;">
                <li style="margin: 0px;">
                    <div id="companyToolHeaderTextContainer">

                        <ul class="companyToolNavUl" style="width: 100%;">
                            <li>
                                <a href="https://warofrights.com/CT_ViewCompany?companyID=@Model.CompanyID" target="_blank">
                                    <h2 class="handWritten">
                                        1st US Sharpshooters Company F
                                    </h2>
                                </a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
            <div class="fancyClearBoth">
            </div>
        </div>
    </nav>
}

@Html.Raw(Model.Rooster)

<hr>

<img src="@Url.Content("~/img/FieldReport22_2.jpg")" class="imageMaxWidth">

<a href="https://warofrights.com/CT_ViewCompany?companyID=@Model.CompanyID" target="_blank">
    <h2 class="text-center">
        Volunteer
    </h2>
</a>

<h3 class="text-center">Retrieved: @Model.Retrieved</h3>

<script>
    $(document).ready(function () {
        $("#wrapper div.worBorder").addClass('companyToolRosterContainer');
    })
</script>