@{
    ViewData["Title"] = "Home";
}

@section navigation {
    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <div style="margin: 0px; padding: 0px;">
            <ul style="margin: 0px; padding: 0px; height: 56px;">
                <li style="margin: 0px;">
                    <div id="companyToolHeaderTextContainer">

                        <ul class="companyToolNavUl" style="width: 100%;">
                            <li>
                                <h1 class="text-center">
                                    <a href="#">Karlsen' Sharps</a>
                                </h1>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
            <div class="fancyClearBoth">
            </div>
        </div>
    </nav>
}

<div id="helpContentWrapper">

    <div class="fancyCenter">
        <h2 class="text-center" style="padding-bottom: 15px;">
            The 1<sup>st</sup> United States Sharpshooters are mustering
        </h2>
    </div>

    <div class="fancyLeft">
        <p >Click on the poster below to join our Discord.</p>
        <a href="https://discord.gg/veaATew867" target="_blank"><img src="@Url.Content("~/img/recruitment_poster.png")" alt="Sharpshooters Recruitment Poster" /></a>
    </div>
    
    <div class="fancyRight">
        <p >Click on the poster below to go to our Forum page.</p>
        <a href="https://www.warofrightsforum.com/showthread.php?6279-1st-U-S-Sharpshooters-Co-F-(EU-IL)" target="_blank"><img src="@Url.Content("~/img/bounty_poster_2_recruiters.png")" alt="Sharpshooters Recruitment Poster" /></a>
    </div>

    <div class="fancyClearBoth"></div>
    
    @if (User.IsLoggedIn())
    {
        <span>You are a member of the 1. USSS Co. F</span>
    }
</div>
