@model dynamic

@{
    ViewData["Title"] = "Company";
}

@section navigation {
    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <div style="margin: 0px; padding: 0px;">
            <ul style="margin: 0px; padding: 0px; height: 70px;">
                <li style="margin: 0px;">
                    <div id="companyToolHeaderTextContainer">

                        <ul class="companyToolNavUl" style="width: 100%;">
                            <li>
                                <h2 class="handWritten" >
                                    1st US Sharpshooters Company F
                                </h2>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
            <div class="fancyClearBoth">
            </div>
        </div>
    </nav>
}

@Html.Raw(Model.Content)

<hr>

<h2 class="text-center">Retrieved: @Model.Retrieved</h2>