<div id="helpBattleAwareness">
    <h1 class="text-center">
        Battle Awareness
    </h1>

    <p>
        IMPORTANT: During battle, the authority and orders of the commanding officers <u>are not debatable</u>. Critique is welcome, but only after the battle has ended. We either succeed as a whole unit or die to the very last man.
    </p>

    <h2>
        Controls
    </h2>
    <p>
        TODO
    </p>

    <br>

    <h2>
        Identifying Friend & Foes
    </h2>
    <p>
        TODO
    </p>

    <br>

    <h2>
        Behaviour
    </h2>
    <p>
        TODO
    </p>
</div>

