<div id="helpBattleAwareness">
    <h1 class="text-center">
        Battle Awareness
    </h1>

    <h2>
        Controls
    </h2>
    <p>
        TODO
    </p>
    
    <br>

    <h2>
        Identifying Friend & Foes
    </h2>
    <p>
        TODO
    </p>
    
    <br>

    <h2>
        Behaviour
    </h2>
    <p>
        TODO
    </p>
</div>

