<div id="helpCompanyRanking">
    <h1 class="text-center">
        Company Ranking
    </h1>
    
    <p>
        IMPORTANT: No one is obligated or expected to progress through the ranks or be something more than they want to be. All promotions are based on merit.
    </p>

    <h3>
        Recruit
    </h3>
    <p>
        An enlisted candidate for the company. It is expected from recruits to choose a mature name 
        when joining our company on the <a href="https://warofrights.com/CT_Login" target="_blank">War of Rights Company Tool</a> 
        and to <em>not be a part of another regiment while in our company</em>.
        To advance from this rank a recruit can choose to pass a shooting test in which 
        he must hit the inner circle of the farthest target (at 125 yards) 
        in the drill camp's shooting range <em>3 consecutive times</em>.
    </p>

    <h3>
        Private
    </h3>
    <p>
        The backbone of the company, the private's job involves forming the dreaded skirmish line, observing the battlefield, marching to a more favorable position etc.
        We encourage all team members to give information and suggestions, but to always obey the commanding officer's orders even if they seem counter intuitive. 
        It is expected from privates to attend <em>at least 1 drill and 1 event every 3 months</em>.
    </p>

    <h3>
        Corporal
    </h3>
    <p>
        A corporal is a role-model for his comrades.
        They frequently succeed in the responsibilities of sergeants in their absence, and should therefore be familiar with their duties.
        Corporals are expected in addition to attend <em>at least 1 drill and 1 battle per month</em>.
    </p>

    <h3>
        Sergeant
    </h3>
    <p>
        One of the most iconic ranks in military history. The sergeant would lead by example towards his men and push them to their limits.
        The sergeant was also in charge of a small section of soldiers called a platoon. He had the authority to shoot any who dared go against “his”
        orders or orders from a higher rank. Sergeants in the 1stUSSS are expected to attend <em>at least 1 drill and 1 battle per month</em>.
    </p>
    
    <h3>
        Colour Sergeant
    </h3>
    <p>
        The colour sergeant had the honorary responsibility of holding and protecting the colours of the regiment. The colour sergeant would be looked upon to rally and inspire men during engagements.
    </p>
    
    <h3>
        1<small>st</small> Sergeant
    </h3>
    <p>
        The first sergeant is is a senior non-commissioned officer. He had the same responsibilities as any other sergeant.
        He was even tougher on his men and would not hesitate to shoot a man who presented cowardice.
    </p>
    
    <h3>
        Sergeant Major
    </h3>
    <p>
        @*TODO: Revise this*@ Sergeant major has more control over a first sergeant. However, if they were absent it was a first sergeant who had to step up. A sergeant major
    </p>
    
    <h3>
        2<small>nd</small> Lieutenant
    </h3>
    <p>
        @*TODO: Revise this*@ The second lieutenant typically command four squads if the first lieutenant was absent in the chain of command. The second lieutenant is often chosen carefully.
    </p>

    <h3>
        1<small>st</small> Lieutenant
    </h3>
    <p>
        @*TODO: Revise this*@ Also commanded four squads. If they're absent, it's the second lieutenants job. These men were quite experienced and trusted by their captains. A captain depends on his Lieutenant's.
    </p>

    <h3>
        Captain
    </h3>
    <p>
        @*TODO: Revise this*@ A captain leads a company. Every company has a captain or else it isn't a company. He typically commanded two squads directly, and the rest was on his lieutenants. That is why lieutenants are in charge of four squads.
    </p>
    
    <h3>
        Major
    </h3>
    <p>
        @*TODO: Revise this*@ When a colonel fell a major came into action to replace him. In the Civil War officers were falling constantly so there was always someone to replace the next man up. Otherwise there was no way to keep up with a gory battle!
    </p>
    
    <h3>
        Lieutenant Colonel
    </h3>
    <p>
        @*TODO: Revise this*@ A lieutenant colonel leads the whole damn battalion. He probably has the most of experienced on a gory battlefield. As the leader of a battalion, he commands the regiments. Regiments are made up of companies. Lieutenant colonel's have a lot on their back.
    </p>
    
    <h3>
        Colonel
    </h3>
    <p>
        @*TODO: Revise this*@ The colonel commanded two companies directly. He could command any two companies in a regiment. He definitely had a say over his captains.
    </p>
    
    <h3>
        General
    </h3>
    <p>
        @*TODO: Revise this*@ The general, leads the whole army. He tells the lieutenant colonel, and the colonel makes things happen. Nobody questions the general because he is the "god" of war.
    </p>
    
    <br>

    <h3>
        Reserve
    </h3>
    <p>
        TODO
    </p>
</div>

