<div id="companyRanking">
    <h1 class="text-center">
        Company Ranking
    </h1>

    <h3>
        Recruit
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>

    <h3>
        Private
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>

    <h3>
        Corporal
    </h3>
    <p>
        The duties of a corporal are simple. They are chosen upon for their leadership abilities. If anybody is going to lead a fireteam of 5 men, it's gonna be them. They take charge of the smaller details for fatigue and police duty in camp and garrison duty. They're your "Corporal of the Guard" which means they're choosen to lead a small unit. They frequently succeed in the responsibilities of sergeants in his absence, and should therefore be familiar with his duties.
    </p>

    <h3>
        Private
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. <i><u>fife, snare drum &amp; bugle.</u></i>
    </p>

    <h3>
        Private
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>
</div>

