<div id="helpDrillCommands">
    <h1 class="text-center">
        Drill Commands
    </h1>

    <h2 id="helpMarching">
        Marching
    </h2>

    <p>
        TODO
    </p>

    <br>
    
    <h2 id="helpShooting">
        Shooting
    </h2>

    <p>
        TODO
    </p>

    <br>
    
    <h2 id="helpFormations">
        Formations
    </h2>

    <p>
        TODO
    </p>

    <br>
</div>

