<div id="helpGameConcepts">
    <h1 class="text-center">
        Game Concepts
    </h1>
    
    <br>

    <h2 id="helpGameModes">
        Game Modes
    </h2>
    <p>
        As of yet War of Rights offers three game modes: Skirmish, Picket Patrol and Drill Camp. These can be seen in-game in the server browser in the mode column for the server. 
        Each mode has their own rules and peculiarities, this section tells you what's special about each of these modes.
    </p>

    <h3>
        Skirmish
    </h3>
    <p>
        The Skirmish game mode you'll encounter most often. It allows up to 150 players, depending on the server slots size. Games last 45 minutes OR until one team losses morale. 
        Most of the matches are with auto-balanced teams (somewhere around 75 vs 75 players), although this feature can be temporarily disabled on private servers, 
        but not on official ones (WAR OF RIGHTS OFFICIAL). Currently there are <a href="@Url.Action("Index", "Maps")">34 maps</a> for skirmish across 
        Harpers Ferry, Antietam, and South Mountain. Almost all of which have artillery on either one or both sides.
    </p>

    <h3>
        Picket Patrol
    </h3>
    <p>
        The main objective of Picket Patrol is simply to kill the enemy force you encounter. The round ends when all enemies are killed or the timer runs out. 
        Whoever has the most kills when the timer ends, wins. The teams kill count is hidden until the end of the round where a winner is declared. @* TODO: Revisit this *@
        Players only have 1 life per round. Formation requirements are stricter than in the Skirmishes game mode: players should stick in groups of at least 3 
        and cannot be “out of line” for more than 30 seconds. Formation restrictions are automatically disabled when less than 12 players are present on the server. 
        Each patrol area has roughly 7 team spawn points placed in various positions in the area. Team spawn points are selected at random at the beginning og the round.
    </p>

    <h3>
        Drill Camp
    </h3>
    <p>
        The training ground of any army, here only one side is present and you can choose to spawn from all the regiments on your side (CSA or USA). 
        The timer displays the current time of day. You cannot die in Drill Camp, although you can be hurt and all the bad implications that follow from being shot or stabbed do still occur. 
        At the marksman range you can get instant feedback on where your shot hit the target.
    </p>


    <h2 id="helpBattleStages">
        Battle Stages
    </h2>

    <p>
        The training ground of any army, here only one side is present and you can choose to spawn from all the regiments on your side (CSA or USA). 
        The timer displays the current time of day. You cannot die in Drill Camp, although you can be hurt and all the bad implications that follow from being shot or stabbed do still occur. 
        At the marksman range you can get instant feedback on where your shot hit the target.
    </p>

    <br>

    <h2 id="helpMoraleSystem">
        The Morale System
    </h2>
</div>

