<div id="helpIntroduction">
    <h1 class="text-center">
        Introduction
    </h1>

    <h2>
        What is War of Rights?
    </h2>
    <p>
        War of Rights is a multiplayer game set during the perilous days of the American Civil War, in the Maryland Campaign of September, 1862. 
        Campfire Games is devoted to presenting the gruesome and glorious elements of the period, 
        while maintaining the highest level of historical accuracy and realism as is possible with the wonders of CRYENGINE.
    </p>

    <ul>
        <li>
            <h3 class="handWritten">
                Tailored for line formation teamplay
            </h3>
            <p>
                Custom formation buff mechanic system rewards sticking together by lessening the suppression effects, the morale cost for the team when dying and the flag bearer respawn rate.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Historical accuracy
            </h3>
            <p>
                Period correct uniforms, weapons, manual of arms animations, battlefields, objectives & drill camps.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Regimental pride
            </h3>
            <p>
                More than 60 researched and recreated regiments all supporting uniforms for all ranks (Private to Colonel) and player classes.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Massive battles
            </h3>
            <p>
                Take part in engagements consisting of 150 players.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Immersive communication
            </h3>
            <p>
                In-game 3D voice system.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Recreated battlefields
            </h3>
            <p>
                More than 15 historically accurate skirmish areas of the Battle of Antietam to play on as well as two drill camps to perfect your formation forming abilities or simply exchange battle stories at the campfire.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Player classes
            </h3>
            <p>
                Private, NCO, Flag Bearer & Officer playable from every regiment featured and covering all ranks from Private to Colonel.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Community focus
            </h3>
            <p>
                A strong company (player organized clans) focus with a dedicated company tool and forum sections devoted to in-game event creation.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                Powerful game engine
            </h3>
            <p>
                Powered by CRYENGINE V, War of Rights is capable of providing visuals unmatched by any other Civil War game.
            </p>
        </li>
        <li>
            <h3 class="handWritten">
                More than a game
            </h3>
            <p>
                War of Rights is a vision that keeps expanding its scale. The project is entirely crowdfunded and has been developed on for the past 6 years. 
                We consider it more of an ever evolving artistic piece rather than a final product with a targeted release deadline with set features.
            </p>
        </li>
    </ul>

    <br>

    <h2>
        Game Vision
    </h2>

    <p>
        Players in the game will be able to play on multiple battlefields of the campaign,
        from the confluence of the Potomac and Shenandoah Rivers where the Siege of Harper's Ferry took place,
        to the ridgelines of South Mountain, and to the meandering waters of Antietam Creek at the Battle of Antietam.
        Additionally, players will also be able to choose from a list of regiments that fought in
        each battle as well as what rank to fight as, whether they want to slog it out as a lowly private,
        or if you want to orchestrate the carnage and mayhem as a major general.
        <br>
        <br>
        Uniforms and bodily features will all be customizable for other players to see as you march and fight
        in the lines of battle according to the tactics of the period. As a General, you will operate in your
        headquarters equipped with a map of the battlefield and constantly receiving reports of friendly and enemy positions.
        Send out new orders to the regiments to move forward, or fall back - all in real time.
        The orders will move down the chain of command, to the Colonels, Majors,
        down to the Captains in charge of the individual regiments,
        all of whom have the option to follow the orders of their trusted commander,
        or rebel against his wishes and fight as you see fit.
        <br>
        <br>
        Each map contains a period reconstruction of the buildings, farms, forests,
        roads, rocks, and Fancy Flowers that existed so players can fight through the streets of Harper's Ferry,
        in the wooded heights of Fox's Gap at South Mountain, or in the wheatfields and Bloody Lanes of Antietam.
        Players can feel the whiz of deadly shot and shell fly by their bodies,
        or hit their comrades or themselves as they scream in a bloody hail from their wounds.
        Limbs will fly and blood will be spilt once again as Campfire Games brings the fighting
        of the Civil War right to the player's computer screen!
        <br>
        <br>
        Will you heed the Union call against the traitors?
        Or will you fight to defend your family and livelihood with the Confederacy? You decide!
    </p>
    <p class="text-right">
        Taken from <a href="https://warofrights.com/">https://warofrights.com/</a>
    </p>
</div>

