<div id="helpWeapons">
    <h1 class="text-center">
        Weapons
    </h1>

    <h3>
        Recruit
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>

    
</div>

