<div id="helpWeapons">
    <h1 class="text-center">
        Weapons
    </h1>

    <h2>
        Swords
    </h2>

    <ul>

        @await Html.PartialAsync("_Weapon", Weapons.USFtOfficerSword1850)
        @await Html.PartialAsync("_Weapon", Weapons.USLightCavalrySaber1860)
        @await Html.PartialAsync("_Weapon", Weapons.USNCOSword1840)
    </ul>

    <h2>
        Revolvers
    </h2>

    <ul>
        @await Html.PartialAsync("_Weapon", Weapons.RemingtonM1858)
        @await Html.PartialAsync("_Weapon", Weapons.LeMat)
        @await Html.PartialAsync("_Weapon", Weapons.ColtWalkerM1847)
        @await Html.PartialAsync("_Weapon", Weapons.ColtPocketM1849)
        @await Html.PartialAsync("_Weapon", Weapons.ColtNavyM1851)
        @await Html.PartialAsync("_Weapon", Weapons.ColtArmyM1860)
    </ul>

    <h2>
        Rifles
    </h2>

    <ul>
        @await Html.PartialAsync("_Weapon", Weapons.LorenzM1854)
        @await Html.PartialAsync("_Weapon", Weapons.Mississippi1841)
        @await Html.PartialAsync("_Weapon", Weapons.PatternEnfield1853)
        @await Html.PartialAsync("_Weapon", Weapons.SharpsCarbine)
        @await Html.PartialAsync("_Weapon", Weapons.SharpsRifle)
        @await Html.PartialAsync("_Weapon", Weapons.SpringfieldM1861)
        @await Html.PartialAsync("_Weapon", Weapons.SpringfieldM1842)
        @await Html.PartialAsync("_Weapon", Weapons.SpringfieldM1855)
        @await Html.PartialAsync("_Weapon", Weapons.Whitworth)
    </ul>
    
    <h2>
        Artillery
    </h2>

    <ul>
        @await Html.PartialAsync("_Weapon", Weapons.Artillery3InchOrdnance)
        @await Html.PartialAsync("_Weapon", Weapons.Artillery12PdrNapoleon)
        @await Html.PartialAsync("_Weapon", Weapons.Artillery10PdrParrott)
    </ul>

    <h2>
        Misc
    </h2>

    <ul>
        @await Html.PartialAsync("_Weapon", Weapons.Bayonet)
        @await Html.PartialAsync("_Weapon", Weapons.SwordBayonet)
        @await Html.PartialAsync("_Weapon", Weapons.ArtilleryToolSpongeRammer)
    </ul>
</div>

