@{
    ViewData["Title"] = "Home";
}

@section navigation {
    
    @{
        var tip = Misc.RandomTip();
        var height = tip.Length >= 80 ? "100px" : "60px";
    }

    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <div style="margin: 0px; padding: 0px;">
            <ul style="margin: 0px; padding: 0px; height: @height;">
                <li style="margin: 0px;">
                    <div id="companyToolHeaderTextContainer">

                        <ul class="companyToolNavUl" style="width: 100%; padding-top: 4px;">
                            <li>
                                <h1 class="text-center">
                                    @tip
                                </h1>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
            <div class="fancyClearBoth">
            </div>
        </div>
    </nav>
}

<div id="helpContentWrapper">
    
    <div id="tableOfContents" class="fancyLeft">
        <h1 class="text-center" style="padding-bottom: 15px;">
            Table of Contents
        </h1>
        <ul>
            <li>
                <h2>
                    <a href="#helpIntroduction">Introduction</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#helpGameConcepts">Game concepts</a>
                </h2>
                <ul>
                    <li>
                        <h3>
                            <a href="#helpGameModes">Game Modes</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#helpBattleStages">Battle Stages</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#helpMoraleSystem">The Morale System</a>
                        </h3>
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    <a href="#helpCompanyRanking">Company Ranking</a>
                    
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#helpDrillCommands">Drill commands</a>
                </h2>
                <ul>
                    <li>
                        <h3>
                            <a href="#helpMarching">Marching</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#helpShooting">Shooting</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href="#helpFormations">Formations</a>
                        </h3>
                    </li>

                </ul>
            </li>
            <li>
                <h2>
                    <a href="#helpBattleAwareness">Battle Awareness</a>
                    
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#helpWeapons">Weapons</a>
                    
                </h2>
            </li>
        </ul>
    </div>

    <div class="fancyRight">
        <img src="@Url.Content("~/img/escanear0406.png")" alt="Killer's in green coats" class="imageMaxWidth"/>
    </div>

    <div class="fancyClearBoth" ></div>

    @await Html.PartialAsync("_Introduction")
    @await Html.PartialAsync("_GameConcepts")
    @await Html.PartialAsync("_CompanyRanking")
    @await Html.PartialAsync("_DrillCommands")
    @await Html.PartialAsync("_BattleAwareness")
    @await Html.PartialAsync("_Weapons")

</div>