@{
    ViewData["Title"] = "Home";
}

@section navigation {
    
    @{
        var tip = Misc.RandomTip();
        var height = tip.Length > 80 ? "100px" : "60px";
    }

    <nav id="companyToolHeaderContainer" class="worBorder" style="padding: 0px;">

        <div style="margin: 0px; padding: 0px;">
            <ul style="margin: 0px; padding: 0px; height: @height;">
                <li style="margin: 0px;">
                    <div id="companyToolHeaderTextContainer">

                        <ul class="companyToolNavUl" style="width: 100%; padding-top: 4px;">
                            <li>
                                <h1 class="text-center">
                                    @tip
                                </h1>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
            <div class="fancyClearBoth">
            </div>
        </div>
    </nav>
}

<div id="contentWrapper">
    
    <div id="tableOfContents" class="fancyLeft">
        <h2 class="text-center">
            Table of Contents
        </h2>
        <ul>
            <li>
                <h3>
                    Main 1
                </h3>
                <ul>
                    <li>
                        <p>
                            Sub 1
                        </p>
                    </li>
                    <li>
                        <p>
                            Sub 2
                        </p>
                    </li>
                    <li>
                        <p>
                            Sub 3
                        </p>
                    </li>
 
                </ul>
            </li>
            <li>
                <h2>
                    Main 2
                </h2>
            </li>
            <li>
                <p>
                    Main 3
                </p>
            </li>
        </ul>
    </div>

    <div class="fancyRight">

        <h2 class="text-center">
            Game General Information
        </h2>

        <p class="frontPageTextFirstLetter">
            War of Rights is a multiplayer game set during the perilous days of the American Civil War,
            in the Maryland Campaign of September, 1862. Campfire Games is devoted to presenting the gruesome
            and glorious elements of the period, while maintaining the highest level of historical
            accuracy and realism as is possible with the wonders of CRYENGINE.
            <br>
        </p>

    </div>

    

    <div class="fancyClearBoth"></div>

    <h1 class="text-center">
        Company Ranking
    </h1>

    <h3>
        Recruit
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>

    <h3>
        Private
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>
    
    <h3>
        Corporal
    </h3>
    <p>
        The duties of a corporal are simple. They are chosen upon for their leadership abilities. If anybody is going to lead a fireteam of 5 men, it's gonna be them. They take charge of the smaller details for fatigue and police duty in camp and garrison duty. They're your "Corporal of the Guard" which means they're choosen to lead a small unit. They frequently succeed in the responsibilities of sergeants in his absence, and should therefore be familiar with his duties.
    </p>

    <h3>
        Private
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. <i><u>fife, snare drum &amp; bugle.</u></i>
    </p>
    
    <h3>
        Private
    </h3>
    <p>
        An enlisted man in the army who held the lowest rank. Privates are responsible for following orders and giving hell to the enemy. They were trained very hard in the sense that they would deal as much damage as possible towards the rebels. Consider them the testing dummy in all situations of combat. They go down before anybody else, because they're the least of experienced men. However, they're the backbone of any army!
    </p>


</div>