@{
    ViewBag.Title = "Drill Camp Maps";
}

@section navigation {
    @await Html.PartialAsync("_MapsNav")
}

<div id="briefMapsContainer">

    @await Html.PartialAsync("_MapBrief", Maps.DrillCampUSA)
    @await Html.PartialAsync("_MapBrief", Maps.DrillCampCSA)
    @await Html.PartialAsync("_MapBrief", Maps.HarpersFerryUSA)

</div>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#navMaps").addClass('active');
            $("#navMapDrillCamps").addClass('active');
        })
    </script>
}
