/* mine */

nav ul li a.active {
    text-decoration: underline;
    text-decoration-color: grey;
}

#briefMapsContainer .briefFieldReportContainer img {
    width: 200px;
}

.regiment {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-family: worHandwritten;
    font-style: italic;
    font-size: 21px;
    font-weight: bold;
}

li h3 a,
li h2 a {
    font-size: inherit;
}

#helpContentWrapper {
    padding-top: 5px;
}

#helpContentWrapper .fancyClearBoth {
    padding: 20px 0;
}

#helpContentWrapper img.imageRightAlign {
    float: right;
    width: 250px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-style: none;
}