@model WarOfRightsWeb.Data.Regiment

@{
    var regiment = Model;
    var regimentID = regiment.ID;
    var regimentName = regiment.Name; //Regiments.DisplayNames[regiment];    
    var regimentFlag = Url.Content($"~/img/regiments/usa_infantry_{regimentID}_FlagBearer.png");
    var regimentDescription = regiment.Description; //Regiments.Descriptions[regiment];

}

<div class="briefFieldReportContainer">
    <a href="@regimentFlag" target="_blank" class="imageContainer">
        <div style="background: url('@regimentFlag'); background-size: contain; background-position-y: -2px" class="worTightBorder"></div>
    </a>
    <div class="briefDescription">
        <a href="@Url.Action("Index", "Regiments", new { id = Model })">
            <h2 class="briefFieldReportName">@regimentName</h2>
        </a>
        <p class="fancyClearBoth">@Html.Raw(regimentDescription)</p>
    </div>
</div>