@model WarOfRightsWeb.Data.Regiment

@{
    var regiment = Model;
    var regimentID = regiment.ID;
    var regimentName = regiment.Name; //Regiments.DisplayNames[regiment];        
    var regimentDescription = regiment.Description; //Regiments.Descriptions[regiment];
    var faction = regiment.Faction; //Extensions.RegimentFaction(regiment).ToLowerInvariant();
    var type = regiment.Type; //Extensions.RegimentType(regiment).ToLowerInvariant();
    var isArtillery = type == RegimentType.Artillery;
    var regimentImage = Url.RegimentImageOrDefault(faction, type, regimentID, 
        isArtillery ? Labels.NCO : Labels.FlagBearer);

}

<div class="briefFieldReportContainer">
    <a href="@regimentImage" target="_blank" class="imageContainer">
        <div style="background: url('@regimentImage'); background-size: contain; background-position-y: -2px" class="worTightBorder"></div>
    </a>
    <div class="briefDescription">
        <a href="@Url.Action("Get", "Regiments", new { id = Model.ID })">
            <h2 class="briefFieldReportName">@regimentName</h2>
        </a>
        <p class="fancyClearBoth">@Html.Raw(regimentDescription)</p>
    </div>
</div>